.phone{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #F7F7F7;
    border-radius: 30px;
    padding: 30px;
}
.phone h1{
    margin-bottom: 10px;
    font-family: 'Arial',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.5px;
    color: #4F4F4F;
}

.phone a{
    margin: 5px 0;
    font-family: 'Arial',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    color: #4F4F4F;
}