.button{
    padding: 10px 20px;
    width: 100%;
    background: #00BC62;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}

.primary-button{
    background: red;
}
.secondary-button{
    background: #4F4F4F;
}